.button {
    padding: 10px 30px;
    background-color: #c4ef36;
    color: #000;
    border: none;
    border-radius: var(--border-radius);
    font-size: 18px;
    transition-duration: 0.2s;
    
    @include hover {
        background-color: #9fc329;
    }

    @media (hover: hover) {
        &:active {
            background-color: #79951e;
        }
    }
}