.text-display {
    font-size: 16px;

    &__value {
        cursor: initial;
        padding: 5px 5px;      
        border: none;
        outline: none;
        border-radius: var(--border-radius);

        &--centered-text {
            text-align: center;
        }

        &--color-accent {
            background-color: #c4ef36;
        }
    }

    &__label {
        color: #fff;
    }

    &--with-label {
        display: flex;
        flex-direction: column;
        justify-content: 10px;
        align-items: start;
    }
}